
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sistema de Veículos</title>
</head>
<body>

    <h1>Veículos Disponíveis</h1>

    <a th:href="@{/login}">
        Fazer Login
    </a>

    <br><br>

    <form th:action="@{/}" method="get">

        <label>Modelo:</label>

        <input type="text"
               name="modelo">

        <button type="submit">
            Filtrar
        </button>

    </form>

    <hr>

    <table border="1">

        <tr>
            <th>Modelo</th>
            <th>Ano</th>
            <th>Preço</th>
            <th>Loja</th>
        </tr>

        <tr th:each="veiculo : ${veiculos}">

            <td th:text="${veiculo.modelo}"></td>

            <td th:text="${veiculo.ano}"></td>

            <td th:text="${veiculo.preco}"></td>

            <td th:text="${veiculo.loja.nome}"></td>

        </tr>

    </table>

</body>
</html>

